obj/
CompileDefines.xm
CompileDefines.mm
theos/
.theos/
.DS_Store
*.deb
*.pyc
wax.txt
*.log
theos
Cycript.framework
*.zip
ThirdPartyTools/DeviceIDFake/
*.a
/Makefile
Reveal.app/
Reveal.framework
RevealTMP/
*.db
ExtraFWs/
Packages/
layout/usr/lib/libReveal.dylib/libReveal.dylib
libReveal.dylib
libcycript.dylib
Cycript/
Reveal2Server
Hooks/capstone/*.*
Hooks/keystone/*.*